body{
    margin: 0%;
    padding: 0%;
}
.one{
    color: rgb(235, 243, 243);
    padding-top: 20px;
    padding-bottom: 7px;
    /*padding-left: 40%;*/
    text-align: center;
    font-size: xx-large;
    
}
.on{
    height: 200px;
    background-image: url(images/15.png);
    background-size:cover;
    border: 1px ridge black;
    border-radius: 20px;
}

a{
    color: rgb(245, 250, 250);
    padding-right: 50px;
    font-size: small;
    text-decoration: none;
    font-size: large;
    text-transform: capitalize;
    font-size: larger;
}
nav{
    margin: 0%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    margin: 20px;
    margin-top: 50pxpx;
    border: 1px ridge rgb(20, 20, 20);
    backdrop-filter: brightness(60%);
    

}
div{
    border-style: ridge;
    border-color: rgb(252, 250, 248);
    padding: 5px;
    margin: 0%;
}
input[type="text"]{
    width: 98%;
    height: 20px;
    margin-top: 5px;
    
}
.two{
    border-style: ridge;
    border-color: rgb(252, 250, 248);
    padding: 20px;
    margin: 0%;
    margin-left: 10px;
}
a:hover{
    cursor: pointer;
    will-change: auto;
    
}
.three{
    margin: 10px;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.container{
    background-image: url(images/16.png);
    background-size: cover;
    max-width: cover;
    height: 700px;
}
button{
    height: 50px;
    width: 300px;
    background: none;
    backdrop-filter: brightness(40%);
    margin-top: 25%;
    font-size: larger;
    border-radius: 10px;
    margin-left: 43%;
    color: aliceblue;
    border: 1px solid rgb(44, 44, 37);  
}
button:hover{
    box-shadow: 0 0 40px 10px green;
    cursor: pointer;
    background-color: green;
    border: none;
}
